*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug *{
    border: 1px dashed;
}

/* mobile first */


/* layout grid system with flexbox */

.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-12{
    width: calc((100% / 1)*12);

}

/* layout grid system with flexbox */

header h1{
    text-align: center;
    font-size: 50px;
    font-family: "Nerko One", cursive;
    font-weight: bold;
    background-color: white;
    color: var(--bool-title);

    width: 100%;
    
}

main{
    background-color:var(--primary) ;
    
}

h3{color: var(--bool-subtitle);
    font-size: 30px;
    font-family: "Nerko One", cursive;
    font-weight: bold;

}


:root{
    --bool-title:#fe9514;
    --bool-subtitle:#4e3969;
    --primary:#f6f5f3;
}




/* breakpoint sopra i 768px */

@media screen and ( min-width: 768px ){
    .main-title{
        text-align: left;
    }

}





/* breakpoint sopra i 992px */