*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug *{
    border: 1px dashed;
}

/* mobile first */


/* layout grid system with flexbox */

.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-12{
    width: calc((100% / 1)*12);

}

/* layout grid system with flexbox */

header h1{
    text-align: center;
    font-size: 70px;
    font-family: "Nerko One", cursive;
    font-weight: bold;
    background-color: white;
    color: var(--bool-title);
    margin-bottom: 1rem;
    width: 100%;
    
}

main{
    background-color:var(--primary) ;
    
}

.subtitle{color: var(--bool-subtitle);
    
    font-family: "Nerko One", cursive;
    font-weight: bold;
    margin-top: 1rem;

}

   


.top-main{
    font-size: 30px;

    margin-top: 2rem;
    img{
        max-width: 100%;
        margin-top: 2rem;
    }
    p{
        color: lightgray;
        font-size: 40px;
    }

    span{
        display: none;
    }
    

}

.descriptions{
    padding-left: 1.5rem;
   box-shadow: 0 0 10px;
    
    background-color: white;
    
        
       
        
        p{padding-top: .5rem;

        }
    

}

.istructions{
    display: flex;
        flex-direction: column;
}
.socials{
    
    margin: 30px 30px;
    display: flex;
    justify-content: space-between;

    

}

.fa-facebook, .fa-twitter, .fa-instagram, .fa-pinterest,.fa-youtube {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    line-height: 7px;
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    height: 20px;
    text-align: center;
  }

.fa-facebook{
  color: var(--fb-icon);
}
.fa-twitter{
    color: var(--twitter-icon)
}
.fa-instagram{
    color: var(--istagram-icon);
}
.fa-pinterest{
    color: var(--pinterest-icon);
}
.fa-youtube{
    color: var(--youtube-icon);
}

.bottom-main{
    .subtitle{font-family: Montserrat, 'Helvetica Neue', sans-serif;;
        font-size: 40px;
    color:black;
    display: flex;
    
    }
    div{
        text-align: center;
        margin-top: 40px;
    }
    img{
        width: 60%;
        
        
    }
    
}

.divider{
    
    width: 90px;
    margin-top: 20px;
    border:solid 2px orange
    
   
}

.long-text{
    font-size: 30px;
    margin-top: 15px;
    padding:2rem 1rem ;
    margin-bottom: 30px;
  
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;

    a{
        font-size: 20px;padding: 1rem 1rem;
        text-decoration: none;color: white;
        margin: auto;
    }
   
    
}
.subtitle-ffoter{
    font-size: 20px;text-align: center;margin-top: 20px;
}
footer{
    background-color: #7c69a4;
    color: white;
    p{
        font-size: 20px;text-align: center;margin-top: 50px;
    }
   
}
:root{
    --bool-title:#fe9514;
    --bool-subtitle:#4e3969;
    --primary:#f6f5f3;
    --fb-icon:#1a77f3;
    --twitter-icon:#009eff;
    --istagram-icon:#e494ab;
    --pinterest-icon:#e52528;
    --youtube-icon:#e62121;
    
}






/* breakpoint sopra i 768px */

@media screen and ( min-width: 768px ){
    .main-title{
        text-align: left;
        font-size: 80px;
    }
    main{padding: 5rem;}

    .istructions{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        p{
            padding: 1rem 1rem;
        }
    }
    .top-main{
    
    span{
            display: inline-block;
        }
        
    
    }

    .fa-facebook, .fa-twitter, .fa-instagram, .fa-pinterest,.fa-youtube {
       

        width: 90px;
        border-radius: 30%;
        height: 30px;
        margin: auto;
        text-align: center;
      }

}





/* breakpoint sopra i 992px */